body{
	background-image: url(./images/main_car.webp);
	background-size: cover;
	margin: 0%;
	display: block;


}
#logo {
	font-size: 50px;
	font-family: yellowtail;
	float: left;
	margin-right: 18%;
	margin-left: 12px;
	margin-top: 0px;

}

p1, p2, p3, p4 {
	margin-right: 9px;
	font-style: normal;
	margin-top: 10px;
	font-weight: normal;
	font-size: 25px;
}
#h2{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-left-radius: 2px;
}
a {
	text-decoration: none;
	color: black;
}

a:hover{

	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-left-radius: 2px;
	
	/*transition-duration: 0.5s;*/
}

#header{
	margin-top: 0px;

	margin-bottom: 0%;
}

#names{
	margin-top: 2%;
	margin-bottom: 0.2%;
	text-align: center;
}

.name{
	display: inline;
	margin-right: 1.2%;
	font-size: 23px;
}


#products{
	background-color: #D6DDE2;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	border-radius: 12px;
	padding: 0.01%;
}
.block{
	margin: 1%;
	width: fit-content;
	height: fit-content;
	display: inline-flex;
	
}
.item_text{
	border-bottom-width: 4px;
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-right-radius: 14px;
	border-top-right-radius: 14px;
	border-color: black;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-right-style: dotted;
	padding-left: 8px;
	padding-right: 3px;
}
#car_nam{
	font-family: monospace;
  	font-style: italic;
 	font-size: 34px;
  	text-align: center;
  	color: #8c91b6e4;
  	font-weight: bold;
  	margin-top: 6px;
  	margin-bottom: 11px;
}
.items{
  	border-left-width: 3px;
  	border-left-color: #8c91b6e4;
  	border-left-style: groove;
}

.item{
	padding-left: 4px;
    margin-bottom: 2px;
}

.more{
	color: white;
  background-color: darkslategray;
  text-decoration: none;
  font-size: 27px;
  border-radius: 2px;
  margin-left: 231px;
  padding: 0px 12px 2px 12px;
}