<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% block css %}{% endblock %}">
	<link rel="index" type="text/html" href="in.html">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.ico') }}" type="image/x-icon" />
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<logo id="logo">JS Gallery</logo>
 	<h1 id="header">
 		<p1 {% block home %}{% endblock %}><a href="{{ url_for('home') }}">HOME</a></p1>
 		<p2 {% block products %}{% endblock %}><a href="{{ url_for('products_car') }}">PRODUCTS</a></p2>
 		<p3 {% block contact_us %}{% endblock %}><a href="{{ url_for('contact_us') }}">CONTACT US</a></p3>
 		<p4 {% block about_us %}{% endblock %}><a href="{{ url_for('about_us') }}">ABOUT US</a></p4>
 	</h1>
  	<div id="names">
	 	<div class="name" {% block products_car %}{% endblock %}><a href="{{ url_for('products_car') }}">Cars</a></div>
	 	<div class="name" {% block products_jewelery %}{% endblock %}><a href="{{ url_for('products_jewelery') }}">Jewelery</a></div>
	 	<div class="name" {% block products_watch %}{% endblock %}><a href="{{ url_for('products_watch') }}">Watches</a></div>
	 	
 	</div>
   {% block content %}{% endblock %}

</body>
</html
