{% extends 'base_products.html' %}

{% block products %}
	style="border-bottom-style: solid; 
	border-bottom-width: 3px; 
	border-bottom-left-radius: 2px;
{% endblock %}
{% block products_car %}
	style="border-bottom-style: solid; 
	border-bottom-width: 3px; 
	border-bottom-left-radius: 2px;
{% endblock %}


{% block title %}Cars{% endblock %}


{% block css %}{{ url_for('static', filename='product_style.css') }}{% endblock %}


{% block content %}
	<div id="products">
	
		{% for car in cars %}

			<div class="block">
				
				<img src="{{ url_for('static', filename=car.src) }}">
				<div class="item_text">
					
					<div id="car_nam">{{ car.name }}</div>

					<div class="items">
						<div class="item">Full Name: {{ car.full_name }}</div>
						<div class="item">Price: {{ car.price }}</div>
						<div class="item">Speed: {{ car.speed }}</div>
						<div class="item">Acceleration To 100kph: {{ car.acceleration_to_100_kph }}s</div>
						<div class="item">Engine: {{ car.engine }}</div>
						<div class="item">Output: {{ car.output }}</div>
						<div class="item">Company: {{ car.company }}</div>
					</div>

					
					<a href="{{ car.more }}" class="more">More</a>
				</div>

			</div>

		{% endfor %}

		
	
	</div>
{% endblock %}